@charset "UTF-8";

/*--------↓float解除用--------*/
.clear{
	clear:both;
}

.clear_none{
	clear:none;
}


h1{
	background-color: #fff;
	border-radius:8px;
	display: table;
	margin: 20px 0;
	padding: 0px 4px;
}

.addresandgroup{
	padding:20px ;
	width: 1050px;
}




/* 						↓タブの設定						*/

.tabs {
	margin-top:10px;  /* 50px */
	padding-bottom:40px;
	/* background-color:#fff; */
	width:100%;  /* 500px */
	min-width: 500px;
	max-width:calc(100vw - 80px);
	/* margin:10px auto 0 auto; */
}

.tab_item {
  width: calc(50%/2);  /* calc(100%/2) */
  min-width: 250px;
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

#address:checked ~ #address_content,
#group:checked ~ #group_content{
	display:block;
}

.tabs input:checked + .tab_item{
	background-color:#5ab4bd;
	color:#fff;
}


/* 						↓タブの内容						*/

#address_content {
	display:none;
	padding:0px;
	clear:both;
	overflow:hidden;
	height:100%;
	width: 100%;  /* 1050px / calc(100% * 2) */
}

#group_content {
	display:none;
	padding:0px;
	clear:both;
	overflow:hidden;
	height:100%;
	width:1050px;
}

/*--------アドレスの内容--------*/
.address_area{
	background-color:white;
	width: calc(100% - 20px);
	height:100%;
	margin:10px 0px;  /*左右を0に変更*/;
	padding:10px;
	border-radius:8px;
}

/* 検索窓の位置は仮で設定してあります（要調整） */
.serch {
	position: absolute;
	top: 110px;
	left: 850px;
	margin: 5px 10px;
}

.address {
	font-size: 18px;
	font-weight: bold;
}

.user_information_area{
	float:left;
	/* background-color:yellow; */
	width:100px;
	height:100px;
	margin:15px;
	padding:5px;
	text-align: center;
	text-decoration: none;
}

.user_information_area:hover {
	opacity: 0.75;
}

/* 使用していないタグのためコメントアウト
.user_information{
	display:flex;
	align-items:center;
	justify-content:center;
	display: block;
	font-family:sans-serif;
	font-weight:bold;
	font-size:15px;
	margin: auto;
	background:red;
} */

.user_name{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: black;
}

.user_icon{
	margin:0 auto;
	display:flex;
	align-items:center;
	justify-content:center;
	width:60px;
	height:60px;
	border-radius: 50%;
	object-fit: cover;
}

/*--------グループの内容--------*/
.group_area{
	background-color:white;
	width: calc(100% - 20px);
	height:100%;
	margin:10px 0px;  /*左右を0に変更*/
	padding:10px;
	border-radius:8px;
}

.group_tab{
	padding:5px 20px;
	border-radius:8px
}

.box label{
	background: white;  /* #5f9 */
	display: block;
	padding: 10px;
	margin-bottom: 5px;
	border-bottom:#7F7F7F 2px solid;
	font-family:sans-serif;
	font-weight:bold;
	cursor: pointer;
}

.box input[type="checkbox"].on-off,
.box input[type="checkbox"].on-off +div{
	display: none;
}

.box input[type="checkbox"].on-off:checked +div{
	display: block;
}

