
.mypage_content {
	display:flex;
	justify-content:center;
	background:white;
	min-height:100vh;
	background-image: url("../img/mb_q_editillust.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 6% -3%;
}

.page-title {
	margin-top:40px;
	font-size:30px;
}

.create-area {
	width:700px;
	border-radius:8px;
	text-align:left;
}

.create-area p {
	font-size:16px;
	font-weight:bold;
	margin-bottom:2px;
}

.requierdItem {
	color: #f00000;
	padding-left: 2px;
}


/*----------↓アイコン選択----------*/

.create-icon-area {
	display:flex;
	align-items:flex-end;
	margin-top:30px;
}

.create-icon {
	width:120px;
	height:120px;
	background-color:#aaa;
	border-radius:50%;
	border: solid 0.5px #444;
}

.create-icon img {
	width: 100%;
	height: 100%;
	border-radius:50%;
	object-fit: cover;
}

#board-icon {
	display:none;
}

.browse-button {
	width:120px;
	height:35px;
	margin:0 0 5px 30px;
	background-color:#ff9100;
	border:none;
	color:white;
	border-radius:8px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor: pointer;
}

.browse-button:hover {
	opacity: 0.75;
}


/*----------↓掲示板名----------*/
.board-name-area {
	float:left;
	margin-right:30px;
}

.name {
	z-index: 10;
}

/*----------↓掲示板色----------*/
.board-color {
	width:100px;
	height:30px;
	border-radius:8px;
	border:1px solid ;
	box-sizing:border-box;
	cursor: pointer;
}



/*----------↓アクセス制限----------*/

input, .access {
	width:290px;
	height:30px;
	border-radius:8px;
	border:1px solid ;
	box-sizing:border-box;
}

.access {
	font-size:14px;
	display:flex;
	align-items:center;
	position:relative;
}

.access-box {
	font-size:14px;
	display:flex;
	align-items:center;
	position:relative;
	width:100%;
	cursor:pointer;
}

.arrow {
	margin-left:auto;
	margin-right:5px;
	font-size:20px;
}

.access-list-area {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	border-radius: 8px 8px 8px 8px;
	border: 1px solid;
	transform: translate(-1px, -2px);
	background:#b5c2c8;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .4);
	display: none;
}

.access-list-bg {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;

	display:none;
}

.access-list-header {
	width:100%;
	height:30px;
	display:flex;
	align-items:center;
	border-bottom:1px solid;
	cursor:pointer;
}

.access-list-header-title {
	margin-left:0px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.access-ul {
	max-height: 290px;
	overflow: scroll;
	overflow-x: hidden;
}

.access-list-item {
	background:white;
	border-bottom:1px solid;
}

.access-list-item:last-of-type {
	border-radius:0px 0px 8px 8px ;
	border-bottom:none;
}

input[type="checkbox"]{
	display:none;
}

.access-item {
	display:flex;
	align-items:center;
	cursor:pointer;
}

.checkbox {
	background:white;
	width:24px; /* 24 */
	height:24px;
	border-radius:8px;
	margin-left:auto;
	margin-right:10px;
	box-sizing:border-box;
	border:3px solid #ff9100;
}

.access-user-icon {
	margin-left:5px;
	width:35px;
	height:35px;
	border-radius: 50%;
	padding:5px 0px;
	object-fit: cover;
}

.access-user-name {
	margin-left:10px;
}

input[type="checkbox"]+label .checkbox{
    /* チェックボックス分の隙間を作る */
    position: relative;
    padding-left: 15px;
}

input[type="checkbox"]:checked+label .checkbox {
    /* チェックしたときの箱の色を変える */
	background:#ff9100;
}

input[type=checkbox]:checked+label .checkbox::after{
    /*チェックの✓をつくる*/
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;

    /*ここから下は位置を調整する*/
    top: 40%;
    left: 7px;
    /*箱を斜めに傾けてチェック表示にする*/
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg) translateY(-50%);
}


/*----------↓掲示板詳細----------*/

.create-detail {
	width:700px;
	height:240px;
	border-radius:8px;
	border:1px solid ;
	resize:none;
	box-sizing:border-box;
	line-height: 20px;
}


/*----------↓作成ボタン----------*/

.submit-area {
	display:flex;
	justify-content:flex-end;
	margin-top:10px;
	padding-bottom:50px;
}

.cancel,.submit {
	width:120px;
	height:40px;
	background-color:#ff9100;
	border:none;
	color:white;
	border-radius:10px;
	margin-left:8px;
	font-weight:bold;
	font-size:14px;
	cursor: pointer;
}

.cancel:hover,.submit:hover {
	opacity: 0.75;
}

.cancel {
	background-color:white;
	color:#ff9100;
	border:2px solid #ff9100;
	box-sizing:border-box;
}


/*----------↓未入力項目のエラー文----------*/
#errortext {
	position: relative;
	top: -100px;
}
