@charset "UTF-8";

.clear{
	clear:both;
}

/* プロフィール更新後の表示 */
.alarm{
	position:absolute;
	 margin-left:50%;
	 margin-top:15px;
	 transform: translateX(-50%); /*基準を中央にする*/
	z-index: 5;
	background:white;
	border-radius:8px;
	color:black;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .4);
	padding:5px 50px;
}

.profile_area{
	position:relative;
	background-color:#fff;
	width:1000px;
	max-width:calc(100vw - 80px);
	height:400px;
	margin:0px auto;
}

.profile_area h2{
	margin-top:60px;
}

.profile_icon{
	background-color:#ddd;
	width:150px;
	height:150px;
	border-radius:24px;
	object-fit: cover;
	margin:0px auto 0 auto;
	transform:translate(0px,50px);
}

.profile_edit{
	position:absolute;
	top:10px;
	right:15px;
	background:#4f4f4f;
	color:white;
	padding:8px 30px;
	width:150px;
	text-align:center;
	border-radius:8px;
	text-decoration: none;
}

.admin{
	position:absolute;
	top:60px;
	right:15px;
	background:#4f4f4f;
	color:white;
	padding:8px 30px;
	width:150px;
	text-align:center;
	border-radius:8px;
}





/* 						↓タブの設定						*/

.tabs {
	margin-top:50px;
	padding-bottom:40px;
	/* background-color:#fff; */
	width:1000px;
	max-width:calc(100vw - 80px);
	margin:10px auto 0 auto;;
}

.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

#post:checked ~ #post_content,
#profile:checked ~ #profile_content{
	display:block;
}

.tabs input:checked + .tab_item{
	background-color:#5ab4bd;
	color:#fff;
}

/* 						↓タブの内容						*/

#post_content {
	display:none;
	padding:0px 0px 0;
	clear:both;
	overflow:hidden;
	/*--heightを設定するとスクロールが動かなくなるのでmin-heightに変更しました--*/
	/* height:1000px; */
	min-height: 1000px;
}

#profile_content {
	display:none;
	padding:0px 0px 0;
	clear:both;
	overflow:hidden;

}

.post_area{
	background-color:white;
	width:100%;
	height:250px;
	margin-bottom:10px;
	border-radius:8px;
}

.profile_area{
	background:white;
	box-sizing:border-box;
	padding:20px ;
	border-radius:8px;
	margin-top:16px;
}

.icon_area{
	width:55px;
	height:55px;
	float:left;
	margin:20px 0 0 20px;
	object-fit: cover;
}

.title_area{
	float:left;
	margin:20px 0 0 20px;
	height:55px;
	text-align:left;
	font-size:20px;
}

.title_name {
	font-weight:bold;
}

.post{
	width:calc(100% - 40px);
	margin:10px 0 0 20px;
	text-align:left;
}

.date {
	font-size:small;
}


