@charset "UTF-8";


/*----------↓body要素----------*/
body {
	padding:0px;
	margin:0px;
	background-color:#dceaef;
}

/*----------↓float解除用----------*/
.clear{
	clear:both;
}





/*----------↓ナビゲーション本体----------*/
.nav-area {
	position:relative;
	background-color:#ff9100;
	width:80px;
	height:100%;
	text-align:center;
	top:0px;
	position:sticky;
	height:100vh;
}

/*----------↓ロゴ表示領域----------*/
.logo-area {
	background-color:#4f4f4f;
	width:100%;
	height:80px;
	margin-bottom:10px;
}

.logo-area img{
	width:70px;
	padding-top:16px;
}

/*----------↓アイコン----------*/
.nav-icon {
	width:70px;
	cursor: pointer;
}

.nav-icon:focus {
	outline: none;
}

/*----------↓マイページ遷移用のアイコン----------*/
#my-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

/*----------↓その他・通知ボタン----------*/
.nav-bottom {
	position:absolute;
	width:100%;
	bottom:0px;
}





/*----------↓ポップアップ----------*/
.popup-link{
	display:none;
}

.popup-content{
	position:fixed;
	top:305px;
	left:90px;
	width:290px;
	height:200px;
	background-color:white;
	border-radius:8px;
	border:1px solid #999;
}

.popup-icon{
	margin-top:5px;
	margin-left:3px;
}

.popup-icon img{
	width:90px;
}

/*----------↓ポップアップ背景----------*/
.popup-bg {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
}


/*----------↓通知ポップアップ----------*/
.popup-alarm-list {
	display: none;
}

.popup-alarm-list .popup-content {
	position:fixed;
	top: auto;
	bottom: 10px;
	left:90px;
	width:290px;
	height:500px;
	background-color:white;
	border-radius:8px;
	border:1px solid #999;
	padding: 1px 0;
}

.alarm-list-header {
	border-bottom: solid 1px #9a9a9a;
	padding-left: 10px;
	padding-top: 2px;
	height: 5%;
}

.popup-alarm-list .popup-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: scroll;
	height: 95%;
	font-size: 14px;
}

.alarm-list-item {
	border: solid 0.5px #9a9a9a;
}

.bold {
	font-weight: bold;
}

/*----------↓その他ポップアップ----------*/
.popup-bottom-link {
	display:none;
}

.popup-bottom-link .popup-content{
	position:fixed;
	top: auto;
	bottom: 10px;
	left:90px;
	width:290px;
	height:100px;
	background-color:white;
	border-radius:8px;
	border:1px solid #999;
}



/*----------↓display:flexの設定----------*/
.flex_container {
	width:1000px;
	display:-webkit-flex;
	display:flex;
}

.mypage_content{
	width:calc(100vw - 80px);
	background-color:#ddeaef;
	border-radius:0 0 0 0 ;
	text-align:center;
}



