@charset "UTF-8";

p {
  white-space: pre-wrap;
}

input[type="text"]{
	border-right:none;
	border-left:none;
	border-top:none;
	border-bottom:none;
	outline: none;
}


.top {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title{
	position:absolute;
	top:15px;
	left:100px;
}

.notice{
	position:absolute;
	top:20px;
	left:700px;
	background-color:black;
	color:White;
}

.back_button{
	position:absolute;
	top:20px;
	left:1300px;
}

.template {
	display: flex;
  	justify-content: center;

}

.backbtn {
	background:#ff9100;
	color:#fff;
	border:none;
	outline:none;
	cursor:pointer;
	border-radius:8px;
	padding:8px 15px;
	font-weight:bold;
}

/*--定型文一覧--*/
.template_list{
	position:relative;
	top :100px;
	left:60px;
	height: 80%;
}

.template_list p {
	font-weight:bold;
}

#table{
	width: 300px;
	height:50px;
/* 	margin:0px auto; */
    background-color:#fff;

	padding: 10px;
	text-align: right;
	border: 1px solid #cccccc;
}

 .change_area{
 	position:relative;
 	top :100px;
	left:150px;
	background-color:#fff;
	width:800px;
	height:600px;
	border-radius: 10px;
}

#template_title{
	margin:10px 10px;
	border-right:none;
	border-left:none;
	border-top:none;
    border-bottom:solid 1px;
	outline: none;
	width: 780px;
	height:30px;
}

#template_content{
	margin:10px 10px;
	resize: none;
	border-right:none;
	border-left:none;
	border-top:none;
	outline: none;
	vertical-align: top;
	width: 780px;
	height:500px;
	white-space: pre-wrap;
}

.template_soufu{
   	position:relative;
	bottom:5px;
	right:40px;
	background:#fff;
	color:#ff9100;
	border:2px solid #ff9100;
	outline:none;
	border-radius:8px;
	padding:1px 7px;
	cursor:pointer;
}

.template_kakou{
   	position:relative;
	bottom:5px;
	right:30px;
	background:#fff;
	color:#ff9100;
	border:2px solid #ff9100;
	outline:none;
	border-radius:8px;
	padding:1px 7px;
	cursor:pointer;
}

.template_save{
   	position:relative;
	bottom:5px;
	left:750px;
	background:#ff9100;
	color:#fff;
	border:none;
	outline:none;
	border-radius:8px;
	padding:2px 8px;
	cursor:pointer;
}

.list_edit {
	background:#ff9100;
	color:#fff;
	border:none;
	outline:none;
	border-radius:8px;
	padding:2px 8px;
	margin-right:3px;
	cursor:pointer;
}

.list_delete {
	background:#fff;
	color:#ff9100;
	border:2px solid #ff9100;
	box-sizing:border-box;
	outline:none;
	border-radius:8px;
	padding:2px 8px;
	margin-right:5px;
	cursor:pointer;
}

.template_Column{
	/* width:200px; */
	text-align: left;
}

 table, th, td {
     background-color:#fff;
     border: 1px solid #cccccc;
    border:none;
    border-bottom:solid 1px silver;
    border-collapse: collapse;
    height: 40px;
}

/*---定型文一覧の1セル分の横幅---*/
td {
	width: 50px;
}

.foot{
	text-align: center;
}

.modal{
    display: none;
    position:relative;
	bottom:5px;
	right:40px;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius:8px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.modal__content h2 {
	width:100%;
	text-align:center;
}

.modal_form {
	float:left;
}

.modal_cancel, .modal_ok {
	width:150px;
	height:40px;
	border-radius:8px;
	box-sizing:border-box;
	background:#fff;
	border:2px solid #ff9100;
	color:#ff9100;
	outline:none;
	font-weight:bold;
}

.modal_ok {
	margin-left:30px;
	background:#ff9100;
	color:#fff;
	border:none;
}

.notice {
	background:white;
	border-radius:8px;
	color:black;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .4);
	padding:5px 50px;
}
